/* .current{
    background-color: lightcoral;
    color: black;
    width: 80vw;
    margin: 5vh;
} */

.current{
background-color: rgba(0, 0, 0, 0.30);
    color: #fff;
    width: 80vw;
    margin: 5vh;
}
.currentBody{
    margin: 3vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}